<form action="/login" method="POST">
    <label for="email">E-mail</label>
    <input type="email" name="email">

    <label for="password">Heslo</label>
    <input type="password" name="password">

    <button>Přihlásit se</button>
</form>