<h1>Bazar</h1>
<p>Vítejte v bazaru!</p>
<p>Prosím zaregistrujte se!</p>

<form action="/register" method="POST">
    <label for="username">Jméno</label>
    <input type="text" name="username"/>
    
    <label for="password">Heslo</label>
    <input type="password" name="password">

    <label for="email">E-mail</label>
    <input type="email" name="email">

    <label for="phoneNumber">Telefoní číslo</label>
    <input type="tel" name="phoneNumber">

    <label for="city">Město</label>
    <input type="text" name="city">

    <label for="street">Ulice</label>
    <input type="text" name="street">

    <label for="postCode">PSČ</label>
    <input type="number" name="postCode">

    <button type="submit">Zaregistrovat se</button>    
</form>